.card {
  background-color: rgba(145, 140, 140, 0.667); /* A translucent white background */
  padding: 1rem; /* 16px */
  border-radius: 0.75rem; /* 12px */
  border: 1px solid rgba(255, 255, 255, 0.3); /* A semi-transparent white border */
  color: white;
  text-align: center;
}

.card h3 {
  font-weight: bold;
  margin-bottom: 0.25rem; /* 4px */
  font-size: 1.125rem; /* 18px */
}

.card p {
  color: white(243, 244, 246, 1); /* A light gray color */
  line-height: 1.5;
  font-size: 0.875rem; /* 14px */
}